body,
html {
  min-height: 100%;
}

body {
  background-color: black;
  background-image: linear-gradient(black, rgb(47, 12, 71), rgb(2, 97, 134), black);
  text-align: center;
  font-family: courier;
  color: rgb(255, 255, 240);
  margin-top: 50px;
}

.box {
  background-color: rgba(255, 255, 255, .5);
  margin: 50px;
  margin-left: 150px;
  margin-right: 150px;
  padding: 20px;
}

.btn {
  background-image: radial-gradient(rgb(179, 179, 179), rgb(27, 27, 165));
  width: 35%;
  border: 5px solid black;
  margin: 15px;
  border-radius: 15px;
}

.btn:hover {
  cursor: pointer;
  opacity: .8;
}

input {
  background-color: black;
  color: ivory;
  border: 3px solid rgba(5, 245, 245, 0.493);
  border-radius: 15px;
  margin: 10px;
  text-align: center;
  width: 90%;
}

select {
  margin: 10px;
}

li {
  margin: 15px;
}

h3 {
  color: rgb(31, 31, 134);
}